*,html,body{box-sizing: border-box;scroll-behavior: smooth;}
html,body{padding: 0;margin: 0;}

body{
    background: #000;
    font-family: -apple-system,'Segoe UI',  'Netflix Sans','Verdana', 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
    
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.navbar{
    background: rgba(0, 0, 0, 0.8);
    padding: 0 auto;
}
.bg-cover{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/904a4f7a-3eb8-4a85-aba5-5e6505f17277/6dd452b5-2539-4295-b260-56cd87b938cd/IL-he-20200831-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    border-bottom: 8px solid #222;
}
.bg-black{
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
}
.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-toggler {
    color: rgb(206, 206, 206);
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover,.navbar-dark:hover .navbar-toggler:hover {
    color: white;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(114, 114, 114);
}
.color-wh{
    color: white;
    font-weight: 700;
    font-size: 120%;
    margin: 0 .5em;
}
.color-red{
    background-color: #e50914;
    color: white;
}
.color-red:hover{
    color: white;
}
.info{
    color: white;
    text-align: center;
    padding-top:1em;
}
.info-title{
    font-size: 3.125em;
    font-weight: 700;
}
.h5-padding{
    padding: 1em 0;
    font-size: 1.5em;
    font-weight: 500;
}
.w-75.center{
    margin: 0 auto;
}
.info p{
    font-size: 1em;
}
.input-padding{
    padding: 1em 2em;
}
.btn.custom-btn{
    border: none;
    border-radius: 0;
    padding: 1em 2em;
    background-color: #e50914;
    margin: 0 auto;
}
.btn.custom-btn:hover{
    background-color: #d30913;
}
.br-style{
    background-color: gray;
}


.features{
    color: white;
    position: relative;
    border-bottom: 8px solid #222;
    padding: 3em 0;
}
.feature-title{
    font-size: 3em;
}
.feature-lead{
    font-size: 1.5em;
}
.feature-bg-img{
    background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5em;
    position: relative;
}
.feature-bg-video video{
    vertical-align: baseline;
    position: relative;
    width: 100%;
    z-index: -1;
    top: 10px;
}
.feature-imgs,.feature-img{
    width: 1000px;
    max-width: 100%;
    height: auto;
}
p{
    margin: 0;
}
.animation-card{
    position: relative;
    border: 2px solid rgba(255,255,255,.25);
    border-radius: 10px;
    width: 60%;
    height: 30%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-30%, -120%);
    background: #000;
    padding: .5em 0;
}
.animation-card .mini-img{
    width: 50px;
    height: 80px;
    padding-top: .3em;
}
.animation-card .img-card{
    justify-content: center;
}
.blue{
    color: #0071eb;
    font-size: 80%;
    font-weight: 700;
}
.img-card{
    width: 3.5em;
    height: 3.75em;
}
.feature-bg-img-3{
    background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5em;
    position: relative;   
}
.feature-bg-video-2 video{
    vertical-align: baseline;
    position: relative;
    width: 100%;
    z-index: -1;
    top: -30px;
}
.card{
    border-radius: 0;
}
.card{
    background: #303030;
}
.bootstrapColorsNetflix{
    padding: 15px;   
}
.bootstrapColorsNetflix a:hover{
    text-decoration: underline;
}
.bootstrapColorsNetflix a:visited,a:link,a:active{
    color: #757575;
    text-decoration: none;
}
div.bootstrapColorsNetflix a{
    margin-bottom: 16px;
    font-size: 1rem;
}
.border-b{
    border-bottom: 8px solid #222;
}
.accordion{
    padding: 2em 0;
    width: 80%;
    margin: 0 auto;
}
.font-size-title{
    font-size: 3em;
}
.btn-lg.btn-txt-size{
    font-size: 150%;
}


/* media query by naama */
@media only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px) {
  .email-form-lockup {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1000px) {

    .info-title {
        font-size: 2.5em;
        font-weight: 700;
    }
    .btn.custom-btn{
        margin: .5em auto;
        padding: .5em 1em;
    }
    .features {
        text-align: center;
    }
    .accordion{
        width: 100%;
    }
    .font-size-title{
        font-size: 2.5em;
    }
    .btn-lg.btn-txt-size {
        font-size: 100%;
    }
    .h4, h4 {
        font-size: 1rem;
    }
    .col-xl-3.col-6{
        padding-right: 0;
        padding-left: 0;
    }
    
}
  @font-face {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    src: url(./netflix_sans_by_pependejo_dc8aja8/Netflix\ Sans\ Light.otf);
  }