*,html,body{box-sizing: border-box;scroll-behavior: smooth;}
html,body{padding: 0;margin: 0;}

body{
    background: #000;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.navbar{
    background: rgba(0, 0, 0, 0.8);
    padding: 0 auto;
}
.bg-cover{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/904a4f7a-3eb8-4a85-aba5-5e6505f17277/6dd452b5-2539-4295-b260-56cd87b938cd/IL-he-20200831-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    border-bottom: 8px solid #222;
}
.bg-black{
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
}
.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-toggler {
    color: rgb(206, 206, 206);
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover,.navbar-dark:hover .navbar-toggler:hover {
    color: white;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(114, 114, 114);
}
.color-wh{
    color: white;
    font-weight: 700;
    font-size: 120%;
    margin: 0 .5em;
}
.color-red{
    background-color: #e50914;
    color: white;
}
.color-red:hover{
    color: white;
}
.info{
    color: white;
    text-align: center;
    padding-top: 15em;
}
.info-title{
    font-size: 3.125em;
    font-weight: 700;
}
.h5-padding{
    padding: 1em 0;
    font-size: 1.5em;
    font-weight: 500;
}
.form-inline{
    justify-content: center;
    margin: 1em 0;
}
.info p{
    font-size: 1em;
}
.input-padding{
    padding: 1em 2em;
}
.btn.custom-btn{
    border: none;
    border-radius: 0;
    padding: 1em 2em;
    background-color: #e50914;
}
.btn.custom-btn:hover{
    background-color: #d30913;
}
.br-style{
    background-color: gray;
}


.features{
    color: white;
    position: relative;
    border-bottom: 8px solid #222;
    padding: 3em 0;
}
.feature-title{
    font-size: 3em;
}
.feature-lead{
    font-size: 1.5em;
}
.feature-bg-img{
    background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5em;
    position: relative;
}
.feature-bg-video video{
    vertical-align: baseline;
    position: relative;
    width: 100%;
    z-index: -1;
    top: 10px;
}
.feature-imgs,.feature-img{
    width: 1000px;
    max-width: 100%;
    height: auto;
}
p{
    margin: 0;
}
.animation-card{
    position: relative;
    border: 2px solid rgba(255,255,255,.25);
    border-radius: 10px;
    width: 60%;
    height: 30%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-30%, -120%);
    background: #000;
    padding: .5em 0;
}
.animation-card .mini-img{
    width: 50px;
    height: 80px;
    padding-top: .3em;
}
.animation-card .img-card{
    justify-content: center;
}
.blue{
    color: #0071eb;
    font-size: 80%;
    font-weight: 700;
}
.img-card{
    width: 3.5em;
    height: 3.75em;
}
.feature-bg-img-3{
    background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5em;
    position: relative;   
}
.feature-bg-video-2 video{
    vertical-align: baseline;
    position: relative;
    width: 100%;
    z-index: -1;
    top: -30px;
}

.bootstrapColorsNetflix
{
    text-align:right;
    direction: rtl;
    color: #757575;
    font-size: 13px;

    background-color: black;
    /*z-index: 10000;*/

    padding-left:13px;
    padding-right:13px;
    padding-top: 13px;
    padding-bottom: 13px;   
}

.bootstrapColorsNetflix a:hover
{
    text-decoration: underline;
}

.bootstrapColorsNetflix a:visited,a:link,a:active
{
    color: #757575;
    text-decoration: none;
}

div.bootstrapColorsNetflix a
{
    margin-bottom: 16px;
    font-size: 1rem;
}

#heb-questions{

    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
    border-bottom: 8px solid #222;

}

.question-container{
  text-align: center;
  align-content: center;
  color: #f3f3f3;
  background-color: black;
}

.question-container h1{
font-size:bold;
}

.faq-list{
    margin: 1.25em auto;
    max-width: 815px;
}


.faq-list-item{
  display: list-item;
  list-style-type: none;
  margin: 0 0 8px 0;
  direction: rtl;
  background: #303030;
}

.my-btn{
  padding: .8em 1.2em .8em 2.2em;
  margin-bottom: 1px;
  font-weight: 400;
  position: relative;
  width: 100%;
  border: 0;
  display: block;
  text-align: right;
  background: #303030;
  color: white;
  border-radius:0;
}
 .my-btn:focus{
   outline: none;
 }

 .svg-icon-thin-x {
  position: absolute;
  left: 1em;
  top: 50%;
  height: 1em;
  width: 1em;
  fill: #fff;
}

#thin-x{
  transform: rotate(90deg);
}

.my-btn.collapsed #thin-x{
 transform: rotate(45deg);
}

hr{
  border-top:1px solid black;
}
.collapse span {
  display: inline-block;
  text-align: right;
  padding: 1.2em;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.btn-red{
  display: inline-block;
  text-decoration: none;
  background-color: #e50914;
  position: relative;
  width: 100%;
  border: 0;
  display: inline-block;
  text-align: right;
  color: #fff;
  border-radius:0;
  min-height: 60px;
  box-shadow: 0 1px 0 rgba(0,0,0,.45);
  line-height: 1em;
  font-weight: 400;
  letter-spacing: .1px;
}

.chevron-right-arrow {
  height: .75em;
  width: .35em;
  flex: 0 1 auto;
  margin: 0 .5em 0 0;
  position: relative;
}

 .chevron-right-arrow svg {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1px 0;
  height: 100%;
  transform: scaleX(-1);
}

.heb-email-form{
  direction:rtl;
}
.email-form-lockup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}



/* media query by naama */
@media only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px) {
  .email-form-lockup {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 800px) {
    .features {
        text-align: center;
    }
}
  @font-face {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    src: url(./netflix_sans_by_pependejo_dc8aja8/Netflix\ Sans\ Light.otf);
  }